#Porta
PORT=3000
#Banco
DATABASE_URL=postgresql://USER:PASSWORD@HOST/DBNAME?sslmode=require
DATABASE_SSL=true
#Puppeteer, TRUE = roda sem, False = roda com interface gráfica
PUPPETEER_HEADLESS=true
#Agendamento
SCHEDULER_ENABLED=true
SCHEDULER_TIMEZONE=America/Sao_Paulo
SCHEDULER_CRON_1=0 12 * * *
SCHEDULER_CRON_2=0 15 * * *
SCRAPER_RETRY_MAX_ATTEMPTS=3
SCRAPER_RETRY_DELAY_MS=180000
